@import url('https://fonts.googleapis.com/css2?family=Meow+Script&display=swap');

.font-meow-script {
  font-family: 'Meow Script', cursive;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


body {
  font-family: 'Montserrat', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
}

/* Prevent horizontal scroll on all devices */
html, body {
  max-width: 100vw;
  overflow-x: hidden;
}
